.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	align-items: center;

	label,
	input {
		font-size: 20px;
	}

	input {
		padding: 5px;
		width: 200px;
		height: 36px;
		margin: 10px;
	}
}
